<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<!--Changes in employee vs division-->
<body style="height:100vh">
  <div class="container">
    <!-- <div class=""> -->
    <div class="card">
      <div class="card-body bg-primary">
        <div class="row">
          <div class="col-md">
            <h3 class="text-white text-center">Employee VS Division</h3>
          </div>
        </div>
        <div class="card-body bg-white">

          <div class="row">
            <div class="col-7">
              <div class="table-container table-responsive mt-4">
                <ag-grid-angular style="width: 100%; height: 100%;" [context]="context" [columnDefs]="table1def"
                [defaultColDef]="defaultColDef" [suppressRowClickSelection]="true" [rowSelection]="rowSelection"
                [rowData]="rowData" [pagination]="true" [class]="themeClass" (gridReady)="onGridReady1($event)"
                (cellValueChanged)="handleCellValueChanged($event)" [paginationPageSize]="10"
                floatingFilter="true" ></ag-grid-angular>

              </div>
            
            </div>
            <div class="col-5">
              <div class="table-container table-responsive mt-4">
                <ag-grid-angular style="width: 100%; height: 100%;" [context]="context" [columnDefs]="table2def"
                [defaultColDef]="table2defaultColDef" [suppressRowClickSelection]="true" [rowSelection]="table2rowSelection"
                [rowData]="table2rowData" [pagination]="true" [class]="themeClass" (gridReady)="onGridReady2($event)"
                (cellValueChanged)="handleCellValueChanged($event)" [paginationPageSize]="10"
                floatingFilter="true" ></ag-grid-angular>


              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mt-5">
          <button class="float-end bg-success text-white" mat-raised-button  (click)="testSubmit()">Submit</button>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</body>

</html>