<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClientOrderTable</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="main-body">
    <div class="container" id="table-container">
        <ag-grid-angular
        style="width: 100%; height: 100%;"
        [context]="context"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [suppressRowClickSelection]="true"
        [rowSelection]="rowSelection"
        [rowData]="rowData"
        [pagination]="true"
        [class]="themeClass"
        (gridReady)="onGridReady($event)"
        (cellValueChanged)="handleCellValueChanged($event)"
        frameworkComponents="{ }"
      ></ag-grid-angular>
    </div>
</div>

</html>
<button class="btn btn-success" (click)="multiconvert()">Bulk Convert</button>
<div class="row">
    <div class="division mt-3">
        <mat-form-field>
            <mat-label>Divisions</mat-label>
            <mat-select [(value)]="selectdivision" (selectionChange)="onDivisionChange()">
                <mat-option *ngFor="let Divisions of DivisionApiData" [value]="Divisions.id">
                    {{ Divisions.divisionName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

