<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="container">
    <div class="advance">
      <div class="customerProfile">
        <div class="backgroundcolor">
          <div class="panel-heading">
            <h2 class="panel-title" style="color:#fff;display: flex;text-align: center;justify-content:center;">
              CUSTOMER VS PROCESS </h2>
          </div>

          <div class="pricingcalculation">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-sm">
                  <mat-form-field appearance="fill">
                    <mat-label>Department</mat-label>
                    <mat-select ngDefaultControl [(value)]="selectedDepartmentOption"
                      (selectionChange)="onOptionSelected($event,myForm)" formControlName="departmentList">
                      <mat-option *ngFor="let department of data.departmentList" [value]="department.id">
                        {{ department.description }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm">
                  <mat-form-field>
                    <mat-label>Customer</mat-label>
                    <mat-select [(value)]="selectedCustomerOption" (selectionChange)="onOptionSelected($event,myForm)"
                      formControlName="customer">
                      <mat-option *ngFor="let customer of customers" [value]="customer.id"
                        (click)="showDropdown = true">
                        {{ customer.name+"-"+customer.shortName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-form-field *ngIf="showDropdown">
                    <mat-label>CustomerScopeStatus</mat-label>
                    <mat-select [(value)]="selectedCustomerScopeStatusOption"
                      (selectionChange)="onOptionSelected($event,myForm)" formControlName="customerscopestatus">
                      <mat-option *ngFor="let option of options" [value]="option.value">
                        {{ option.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-sm">
                  <mat-form-field appearance="fill">
                    <mat-label>jobStatus</mat-label>
                    <mat-select ngDefaultControl [(value)]="selectedjobStatusOption"
                      formControlName="jobStatusDescription" multiple>
                      <mat-option *ngFor="let jobStatus of data.jobstatuslist" [value]="jobStatus.id">
                        {{ jobStatus.jobStatusDescription }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-form-field appearance="fill">
                    <mat-label>scope</mat-label>
                    <mat-select ngDefaultControl [(value)]="selectedscopeOption" formControlName="scopeName" multiple>
                      <mat-option *ngFor="let Scope of scopeList" [value]="Scope?.id">
                        {{ Scope?.scopeName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
              </div>


              <div class="row">
                <div class="col-sm">
                  <mat-form-field appearance="fill">
                    <mat-label>currentProcess</mat-label>
                    <mat-select ngDefaultControl [(value)]="selectedCurrentProcessOption"
                      (selectionChange)="onOptionSelected($event,myForm)" formControlName="currentProcessList">
                      <mat-option *ngFor="let currentProcessList of data.currentProcessList"
                        [value]="currentProcessList.id">
                        {{ currentProcessList.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>

                <div class="col-sm">
                  <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select [(value)]="selectedStatusOption" (selectionChange)="onOptionSelected($event,myForm)"
                      formControlName="status">
                      <mat-option *ngFor="let Status of  data.statuslist" [value]="Status.id">
                        {{ Status.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-form-field>
                    <mat-label>NextProcess</mat-label>
                    <mat-select [(value)]="selectedNextProcessOption"
                      (selectionChange)="onOptionSelected($event,myForm)" formControlName="NextProcess">
                      <mat-option *ngFor="let nextprocess of data.currentProcessList" [value]="nextprocess.id">
                        {{ nextprocess.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <button mat-raised-button color="primary">Submit</button>
            </form>
          </div>
          <div class="table-container">

            <ag-grid-angular style="width: 100%; height: 100%;" [context]="context" [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef" [suppressRowClickSelection]="true" [rowSelection]="rowSelection"
            [rowData]="rowData" [pagination]="true" [class]="themeClass" (gridReady)="onGridReady($event)"
            (cellValueChanged)="handleCellValueChanged($event)" [paginationPageSize]="10"
                floatingFilter="true" ></ag-grid-angular>
          </div>
        </div>

      </div>
    </div>

  </div>
</body>

</html>