<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="advance">
      <div class="customerProfile">
        <div class="backgroundcolor">
          <div class="panel-heading">
            <h2 class="panel-title" style="color:#fff;">
              Proof Reading
            </h2>
          </div>
          <div class="table-container">
            <div class="checkbox">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedValue">
                <mat-radio-button [value]="0" checked>Both</mat-radio-button>
                <mat-radio-button [value]="1">Artwork</mat-radio-button>
                <mat-radio-button [value]="2">Digitizing</mat-radio-button>
              </mat-radio-group>
            </div>

            <ag-grid-angular
            style="width: 100%; height: 100%;"
            [context]="context"
            [columnDefs]="columnDefs"
            [pagination]="true"
            [defaultColDef]="defaultColDef"
            [suppressRowClickSelection]="true"
            [rowSelection]="rowSelection"
            [rowData]="rowData"
            [class]="themeClass"
            (cellClicked)="onCellClicked($event)"
            (gridReady)="onGridReady($event)"
          ></ag-grid-angular>
          </div>
        </div>
        <div class="scope" style="display:flex;justify-content: center;" *ngIf="displayScopeDropdown">
          <mat-form-field>
            <mat-label>Scope</mat-label>
            <mat-select [(value)]="selectedScope">
              <mat-option *ngFor="let item of scopes" [value]="item.Id">
                {{ item.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

</body>

</html>