<div class="birthday">
    <h1 mat-dialog-title class="contents">Birthday Wishes</h1>
    <div mat-dialog-content>
        <div class="birthdayImage">

            <img src="../../../../../assets/Images/HappyBirthdayGif.gif">
        </div>

        <div class="birthdayTable">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
                <!-- Position Column -->
                <ng-container matColumnDef="EmployeeCode">
                  <th mat-header-cell *matHeaderCellDef> Employee Code </th>
                  <td mat-cell *matCellDef="let element"> {{element.employeeCode}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="EmployeeName">
                  <th mat-header-cell *matHeaderCellDef> Employee Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="Department">
                  <th mat-header-cell *matHeaderCellDef> Department </th>
                  <td mat-cell *matCellDef="let element"> {{element.department}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="Designation">
                  <th mat-header-cell *matHeaderCellDef> Designation </th>
                  <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              
              
        </div>

    </div>
    <div mat-dialog-actions class="close">
        <button class="btn btn-success" (click)="close()">Close</button>
    </div>
</div>