<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="container">
    <div class="advance">
      <div class="customerProfile">
        <div class="backgroundcolor">
          <div class="panel-heading">
            <h2 class="panel-title" style="color:#fff;">
              Completed Jobs
            </h2>
          </div>

          <div class="pricingcalculation">
        
          </div>
          <div class="table-container">
           
              <mat-label>{{ 'Ready To Upload Jobs (' + (CompletedJobsCount ? CompletedJobsCount:0) + ')' }}</mat-label>
              <ag-grid-angular
              style="width: 100%; height: 100%;"
              [context]="context"
              [columnDefs]="columnDefs"
              [pagination]="true"
              [defaultColDef]="defaultColDef"
              [suppressRowClickSelection]="true"
              [rowSelection]="rowSelection"
              [rowData]="rowData"
              [class]="themeClass"
              (gridReady)="onGridReady($event)"
              (cellClicked)="onCellClicked($event)"

            ></ag-grid-angular>
          
          </div>
        </div>

        <div class="matbuttonaign">
          <button mat-raised-button style="color:#088607" (click)="bulkUpload()">Bulk Upload</button>
        </div>
      </div>
    </div>

  </div>
</body>

</html>