<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="customerReceiptDetails">
    <div class="backgroundcolor">
      <div class="panel-heading" style="display: flex;align-items: center;justify-content: center;">
        <h2 class="panel-title" style="color:#ebebeb">
          Customer Receipt Details
        </h2>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <label> Voucher Number:</label>&nbsp;&nbsp;{{voucherNumber}}
          </div>
          <div class="col">
            <label> Voucher Date:</label>&nbsp;&nbsp;{{voucherDate | date:'MM-dd-yyyy'}}
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label> Reference Number:</label>&nbsp;&nbsp;{{referenceNumber}}

          </div>
          <div class="col">
            <label> Reference Date:</label>&nbsp;&nbsp;{{referenceDate | date:'MM-dd-yyyy'}}

          </div>
        </div>

        <div class="row">
          <div class="col">
            <label>Customer Name:</label>&nbsp; &nbsp;{{customerName}}
          </div>
          <div class="col">
            <label>Receipt Amount:</label>&nbsp; &nbsp;{{receiptAmount}}

          </div>
        </div>

        <div class="row">
          <div class="col-4">

            <label>Description:</label>&nbsp; &nbsp;{{description}}
          </div>
        </div>

        <br>
        <br>
        <br>
        <br>

        <div class="invoicetable">

          <ag-grid-angular style="width: 100%; height: 100%;" [context]="context" [columnDefs]="table1def"
            [defaultColDef]="defaultColDef" [suppressRowClickSelection]="true" [rowSelection]="rowSelection"
            [rowData]="rowData" [pagination]="true" [class]="themeClass"
            (cellValueChanged)="handleCellValueChanged($event)" [paginationPageSize]="10"
                floatingFilter="true" ></ag-grid-angular>


        </div>
        <br>
        <br>
        <br>
        <br>

        <div class="Receipttable">
          <ag-grid-angular style="width: 100%; height: 100%;" [context]="context" [columnDefs]="table2def"
            [defaultColDef]="table2defaultColDef" [suppressRowClickSelection]="true" [rowSelection]="table2rowSelection"
            [rowData]="table2rowData" [pagination]="true" [class]="themeClass" (gridReady)="onGridReady2($event)"
            (cellValueChanged)="handleCellValueChanged($event)" [paginationPageSize]="10"
                floatingFilter="true" ></ag-grid-angular>

        </div>

        <button class="btn btn-primary" (click)="goBack()">Back</button>


      </div>

    </div>
  </div>
</body>

</html>