<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body style="height:123vh">
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body style="height: 123vh;">
    <div class="container">
      <div class="advance">
        <div class="customerProfile">
          <div class="backgroundcolor">
            <div class="panel-heading">
              <h2 class="panel-title" style="color:#fff;">
                Add Scope <mat-icon class="add-icon" matTooltip="Add Scope!" (click)="addItem()">add_box</mat-icon>
              </h2>
            </div>

            <div class="table-container">
              <form [formGroup]="scopeRegistrationForm">

                <ag-grid-angular style="width: 100%; height: 100%;" [context]="context" [columnDefs]="columnDefs"
                [defaultColDef]="defaultColDef" [suppressRowClickSelection]="true" [rowSelection]="rowSelection"
                [rowData]="rowData" [pagination]="true" [class]="themeClass" (gridReady)="onGridReady($event)"
                (cellValueChanged)="handleCellValueChanged($event)" frameworkComponents="{ }"></ag-grid-angular>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>

  </body>

  </html>

</body>

</html>