<div class="main-body">
  <div class="container" id="table-container">
    <ag-grid-angular
      style="width: 100%; height: 100%;"
      [context]="context"
      [columnDefs]="columnDefs"
      [pagination]="true"
      [defaultColDef]="defaultColDef"
      [suppressRowClickSelection]="true"
      [rowSelection]="rowSelection"
      [rowData]="rowData"
      [class]="themeClass"
      (gridReady)="onGridReady($event)"
      (cellClicked)="onCellClicked($event)"
    ></ag-grid-angular>
  </div>
</div>
