<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="advance">
            <div class="customerProfile">
                <div class="backgroundcolor">
                    <div class="panel-heading">
                        <h2 class="panel-title" style="color:#fff;">
                            SCOPE CHANGE
                        </h2>
                    </div>

                    <div class="pricingcalculation">
                        <form [formGroup]="empForm">
                            <div class="container1">
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>From Date</mat-label>
                                            <input matInput [matDatepicker]="picker" formControlName="fromdate">
                                            <mat-hint>MM/DD/YYYY</mat-hint>
                                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>To Date</mat-label>
                                            <input matInput [matDatepicker]="picker1" formControlName="todate">
                                            <mat-hint>MM/DD/YYYY</mat-hint>
                                            <mat-datepicker-toggle matIconSuffix
                                                [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <mat-form-field>
                                                <mat-label>Client</mat-label>
                                                <mat-select ngDefaultControl formControlName="client"
                                                    [(value)]="selectedclientOption">
                                                    <mat-option
                                                        *ngFor="let clientdropdownvalues of Clientdropdownvalues"
                                                        [value]="clientdropdownvalues.id">
                                                        {{clientdropdownvalues.shortName }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Department</mat-label>
                                                <mat-select ngDefaultControl formControlName="department">
                                                    <mat-option *ngFor="let department of departments"
                                                        [value]="department.value">
                                                        {{department.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row" style="display: flex;text-align: center;justify-content: center;">
                                        <div class="col">
                                            <div class="button">
                                                <button class="btn btn-primary" type="button" id="gobutton"
                                                    (click)="getJobOrderList()">
                                                    Go</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="table-container">
                        <ag-grid-angular style="width: 100%; height: 100%;" [context]="context"
                            [columnDefs]="columnDefs" [pagination]="true" [defaultColDef]="defaultColDef"
                            [suppressRowClickSelection]="true" [rowSelection]="rowSelection" [rowData]="rowData"
                            [class]="themeClass" (cellClicked)="onCellClicked($event)"
                            (gridReady)="onGridReady($event)"></ag-grid-angular>
                    </div>
                </div>
                <br>
                <div class="matbuttonaign">
                    <div class="scope">
                        <mat-form-field>
                            <mat-label>Choose Scope</mat-label>
                            <mat-select ngDefaultControl formControlName="scope" [(value)]="selectedScopeOption">
                                <mat-option *ngFor="let scopedropdownvalues of Scopedropdownvalues"
                                    [value]="scopedropdownvalues.id">
                                    {{scopedropdownvalues.description }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="footerButton">
                        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Change</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>