<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="advance">
      <div class="customerProfile">
        <div class="backgroundcolor">
          <div class="panel-heading">
            <h2 class="panel-title" style="color:#fff;display: flex;align-items: center;justify-content: center;">
              Accounts Bank Closure Form
            </h2>
          </div>
<div class="bank">
          <form novalidate>
            <div class="panel-body form-horizontal">

              <div class="form-group">
                <div class="col-xs-2"><label>Bank Name</label></div>
                <div class="col-xs-4">
                  <input type="text" class="form-control" [(ngModel)]="BankName" name="bankname" />
                </div>

                <div class="col-xs-1"><label>Date</label></div>
                <div class="col-xs-4">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="selectedDate"
                      name="selectedDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                </div>
              </div>

              <div class="form-group">
                <div class="col-xs-2">Closing Balance</div>
                <div class="col-xs-4">
                  <input type="text" class="form-control" [(ngModel)]="ClosingBalance" name="ClosingBalance" />
                </div>
              </div>
              <br />

              <div class="form-group">
                <div class="text-center">
                  <button type="submit" class="btn btn-success" (click)="BankSubmit()">Submit</button> &nbsp;
                  <a class="btn btn-primary" routerLink="/">Cancel</a>
                </div>
              </div>
              <br />

              <hr />
              <div class="col-md-12" style="margin-top:0px; padding:10px;">
                <!-- <div ui-grid-exporter ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-move-columns [grid]="gridGetBankTable"></div> -->
                <div class="table-container">

                  <ag-grid-angular
                  style="width: 100%; height: 100%;"
                  [context]="context"
                  [columnDefs]="columnDefs"
                  [defaultColDef]="defaultColDef"
                  [suppressRowClickSelection]="true"
                  [rowSelection]="rowSelection"
                  [rowData]="rowData"
                  [pagination]="true"
                  [class]="themeClass"
                  (gridReady)="onGridReady($event)"
                  (cellValueChanged)="handleCellValueChanged($event)"
                  frameworkComponents="{ }"
                ></ag-grid-angular>
           
              </div>
              </div>
            </div>
          </form>
        </div>
        </div>
      </div>
    </div>

  </div>

</body>

</html>