.container {
  background: #5790b5;
  height: 689px;
}
.tablecontainer {
  background: white;
  height: 591px;
  padding: 18px;
}

.header{
  color:white;
  text-align: center;
}

button#submit {
  height: 47px;
  font-family: auto;
}

.footerbutton {
  text-align: end;
}

.table2 {
  width: 394px;
}

.maintables {
  display: flex;
    height: 433px;
    column-gap: 8px;
}

.table1 {
  width: 402px;
}