<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="header">
      <h3>Customer VS Sales Person</h3>
    </div>
    <div class="tablecontainer">
      <div class="row">
        <div class="col-4">
          <mat-form-field>
            <mat-label>Select a filter</mat-label>
            <mat-select [(ngModel)]="selectedValue" (selectionChange)="onDropdownChange()">
              <mat-option value="">--Select--</mat-option>
              <mat-option value="0">All</mat-option>
              <mat-option value="1">Mapped</mat-option>
              <mat-option value="2">Un-Mapped</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
       




      </div>

      <div class="maintables">
        <div class="table1">
          <ag-grid-angular style="width: 100%; height: 100%;" [context]="context" [columnDefs]="table1def"
          [defaultColDef]="defaultColDef" [suppressRowClickSelection]="true" [rowSelection]="rowSelection"
          [rowData]="rowData" [pagination]="true" [class]="themeClass" (gridReady)="onGridReady1($event)"
          (cellValueChanged)="handleCellValueChanged($event)" frameworkComponents="{ }"></ag-grid-angular>

        </div>
        <div class="table2">
          <ag-grid-angular style="width: 100%; height: 100%;" [context]="context" [columnDefs]="table2def"
          [defaultColDef]="table2defaultColDef" [suppressRowClickSelection]="true" [rowSelection]="table2rowSelection"
          [rowData]="table2rowData" [pagination]="true" [class]="themeClass" (gridReady)="onGridReady2($event)"
          (cellValueChanged)="handleCellValueChanged($event)" frameworkComponents="{ }"></ag-grid-angular>
        </div>

      </div>
    </div>
    <div class="footerbutton">
      <button class="btn btn-success" id="submit" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</body>

</html>