<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Select Date</mat-label>
            <input
              matInput
              [matDatepicker]="datepicker"
              [(ngModel)]="reportAsOn"
              name="reportAsOn"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="datepicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col">
          <P style="font-family: 'Times New Roman', Times, serif">File Name</P>
          <input
            #fileInput
            type="file"
            id="importFile"
            (change)="onFileSelected($event)"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <button
            type="button"
            class="btn btn-success"
            (click)="btnimportAttendanceexcel()"
          >
            Import Excel
          </button>
        </div>
      </div>
      <br />
      <br />
      <div class="table">
        <div class="example-container mat-elevation-z8">
          <ag-grid-angular
            style="width: 100%; height: 550px"
            [class]="themeClass"
            [rowData]="rowData"
            [pagination]="true"
            [columnDefs]="columnDefs"
            [paginationPageSize]="10"
            floatingFilter="true" 
          >
          </ag-grid-angular>
        </div>
      </div>
      <div
        class="button"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
        "
      >
        <button type="button" class="btn btn-danger">Cancel</button>
        <button
          type="button"
          class="btn btn-success"
          (click)="SaveAttendanceData()"
        >
          Submit
        </button>
      </div>
    </div>
  </body>
</html>
