/* Core Grid CSS */
@import 'ag-grid-community/styles/ag-grid.css';
/* Quartz Theme Specific CSS */
@import 'ag-grid-community/styles/ag-theme-quartz.css';
html, body { height: 100% }
/* styles.css */
body {
    min-height: 123vh !important; /* Set a minimum height to fill the viewport initially */
    height: auto !important; /* Allow the body to expand based on its content */
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-y: auto; /* Add vertical scroll bar if the content overflows */
  }
  



