<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="customerProfile">
        <div class="backgroundcolor">
            <div class="panel-heading">
                <h2 class="panel-title" style="color:#fff;display: flex;
                align-items: center;
                justify-content: center;">
                    Customer VS Division
                </h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="input-group-prepend">
                            <mat-form-field>
                                <mat-label>Customer Shortname</mat-label>
                                <mat-select [(ngModel)]="selectedShortname" name="customershortname">
                                    <mat-option *ngFor="let customer of customers" [value]="customer.id">{{
                                        customer.shortName }}</mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
                    </div>

                </div>
                <!-- <div class="row">
                    <div class="col-6">
                        <form class="example-form">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Number</mat-label>
                              <input type="text"
                                     placeholder="Pick one"
                                     aria-label="Number"
                                     matInput
                                     [formControl]="myControl"
                                     [matAutocomplete]="auto">
                              <mat-autocomplete matAutocompleteFirstOption #auto>
                                <mat-option *ngFor="let option of filteredOptions " [value]="option">
                                  {{option.shortName}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                          </form>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Select Department</mat-label>
                            <mat-select [(ngModel)]="selectedDepartment">
                                <mat-option *ngFor="let department of departments" [value]="department.value">
                                    {{ department.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Division</mat-label>
                            <mat-select [(ngModel)]="selectedDivision" name="division">
                                <mat-option *ngFor="let division of divisions" [value]="division.id">{{
                                    division.divisionName }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                </div>

                <div class="buttons" style="display: flex;align-items: center;justify-content: center;">
                    <button type="button" class="btn btn-success" (click)="submit()">Submit</button> &nbsp;
                    <button type="button" class="btn btn-success">Cancel</button>
                </div>
                <br>
                <div class="table">
                    <div class="table-container">
                        <ag-grid-angular style="width: 100%; height: 100%;" [context]="context" [columnDefs]="columnDefs"
                        [defaultColDef]="defaultColDef" [suppressRowClickSelection]="true" [rowSelection]="rowSelection"
                        [rowData]="rowData" [pagination]="true" [class]="themeClass" (gridReady)="onGridReady($event)"
                        (cellValueChanged)="handleCellValueChanged($event)" frameworkComponents="{ }"></ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>