<div class="actionbutton">
<span class="total-value-renderer">
    <i class="fa fa-edit" matTooltip="edit" style="cursor: pointer;color:green" (click)=" editbutton(params)"></i>
  </span>
  <span class="total-value-renderer" >
    <i class="fa fa-eye" matTooltip="View"  style="cursor: pointer;color:green" (click)="viewButton(params)"></i>
  </span>
  <span class="total-value-renderer" >
    <i class="fa fa-trash-o" matTooltip="delete" style="cursor: pointer;color:green" (click)="deleteButton(params)"></i>
  </span>
</div>


